**/.metadata/
**/.recommenders/
/Servers/
**/.settings/
**/.classpath/
**/.project/
**/target/
.classpath/
.project/
.settings/
.recommenders/
.metadata/
.classpath
.project
.settings
.recommenders
.metadata
