<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- VO -->
		<typeAlias alias="Customer" type="com.mybatis.bookshop.customer.model.Customer"/>
		<typeAlias alias="Book" type="com.mybatis.bookshop.shop.model.Book"/>
		<typeAlias alias="Order" type="com.mybatis.bookshop.shop.model.Order"/>
		<typeAlias alias="OrderItem" type="com.mybatis.bookshop.shop.model.OrderItem"/>
		
		<!-- Condition -->		
		<typeAlias alias="CustomerCondition" type="com.mybatis.bookshop.customer.condition.CustomerCondition"/>
		<typeAlias alias="OrderCondition" type="com.mybatis.bookshop.shop.condition.OrderCondition"/>
		<typeAlias alias="BookCondition" type="com.mybatis.bookshop.shop.condition.BookCondition"/>
	</typeAliases>
<!-- 	<mappers> -->
<!-- 		<mapper resource="com/mybatis/bookshop/mapper/BookShopMapper.xml"/> -->
<!-- 	</mappers> -->
</configuration>