<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Customer" type="com.mybatis.bookshop.model.Customer"/>
		<typeAlias alias="Book" type="com.mybatis.bookshop.model.Book"/>
		<typeAlias alias="Order" type="com.mybatis.bookshop.model.Order"/>
		<typeAlias alias="OrderItem" type="com.mybatis.bookshop.model.OrderItem"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/mybatis/bookshop/mapper/BookShopMapper.xml"/>
	</mappers>
</configuration>